footer{
    background: #090909;
}
.footer__fon{
    background-image: url("../img/dener2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1305px;
    height: 614px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 90px;
}
.footer__info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 640px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 35px 10px;
}
.href__ic{
    width: 29px;
    height: 29px;
    background: #090909;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.href__ic i{
    background-color: #FFFFFF;
}
.href__ic:hover{
    background: #FF7F00;
}
.footer__mail{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.foot-offer{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.foot-offer span{
    margin-left: 10px;
}
@media (max-width: 1199px){
    .footer__fon {
        height: 470px;
    }

}
@media (max-width: 570px){
    .footer__fon {
        height: 670px;
        align-items: center;
        padding: 0 15px;
    }
    .footer__info {
        max-width: 305px;
        flex-direction: column;
    }
    .footer__mail {
        margin: 60px 0;
    }
}