
header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 999;
    transition: 0.4s;
}
.sticky{
    background: #FFFFFF;
    transition: 0.4s;
}
.sticky .header__logo {
    max-width: 80px;
    height: 45px;
}
.sticky .header__logo i{
    background-color: #000000;
}
.sticky .header__main {
    padding: 13px 0 13px 52px;
    align-items: center;
    transition: 0.3s;

}
.sticky .sidenav ul li a{
    color: #000000;

}
.sticky .sidenav ul li a:before {
    background: #000000;
}
.header__main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 26px 0;
    transition: 0.3s;
}
.header__logo{
    max-width: 180px;
    width: 100%;
    height: 101px;
    transition: 0.3s;
}
.header__logo i{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transition: 0.3s;

}
.sidenav ul{
    display: flex;
    align-items: center;
}
.sidenav ul li{
    margin-right: 110px;
}
.sidenav ul li:last-child{
    margin-right: 50px;
}
.sidenav ul li a{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    transition: 0.3s;
    position: relative;
}
.sidenav ul li a:before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #FFFFFF;
    transition: 0.3s;
}

.sidenav ul li a:hover:before{
    width: 100%;
}
.header__mob{
    display: none;
}

.open-menu {
    display: none;
    width: 25px;
    height: 15px;
    position: relative;
    z-index: 999;
}
.open-menu span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #FFFFFF;
    border-radius: 3px;
}
.sticky .open-menu span{
    background: #000000;
}
.close-menu {
    display: none;
}
.close-menu span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 3px;

}
.close-menu span:first-child, .close-menu span:last-child {
    display: none;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
.close-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.body_fix {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.body_fix .open-menu.close-menu {
    z-index: 999999;
}
@media (max-width: 1299px){
    .sticky .header__main {
        padding: 13px 0 13px 0;
    }
}
@media (max-width: 1199px){
    .sidenav ul li {
        margin-right: 65px;
    }
    .header__logo {
        max-width: 118px;
        height: 66px;
    }
    .sidenav ul li:last-child {
        margin-right: 0;
    }
}
@media (max-width: 990px){
    .sidenav ul li {
        margin-right: 30px;
    }
    .header__logo {
        max-width: 80px;
        height: 45px;
    }
    .header__main {
        align-items: center;
        padding: 13px 0;
    }
}
@media (max-width: 760px) {
    .sticky{
        background: #FFFFFF;
    }
    .sticky .header__logo i{
        background-color: #000000;
    }
    .menu-width {
        width: 0% !important;
        -webkit-transition: all 0.5s ease 0s !important;
        -o-transition: all 0.5s ease 0s !important;
        transition: all 0.5s ease 0s !important;
    }
    .transition-menu {
        width: 100% !important;
        -webkit-transition: all 0.5s ease 0s !important;
        -o-transition: all 0.5s ease 0s !important;
        transition: all 0.5s ease 0s !important;
    }
    .open-menu span:nth-child(2), .open-menu span:nth-child(3) {
        top: 6px;
    }
    .open-menu span:last-child {
        top: 12px;
    }
    .open-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .menu-cnt {
        margin: 0;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99999;
        top: 71px;
        right: 0;
        padding: 20px 0;
        overflow-x: hidden;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: center;
        background: #161413;
    }

    .sidenav>ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

    }

    .sidenav ul li {
        margin-right: 0;
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
    .sidenav ul li a{
        font-family: 'Gotham Pro';
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.025em;
        color: #FFFFFF;
    }
    .header__mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .header__mob .btn{
        border: 1px solid #FF7F00;
        background: unset;
        margin-top: 25px;
    }
    .header__soc{
        margin-top: 30px;
        max-width: 210px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__soc .href__ic {
        background: #FFFFFF;
        border: 1px solid transparent;

    }
    .header__soc .href__ic i{
        background-color: #161413;
        font-size: 19px;
    }
    .header__soc .href__ic:hover{
        border: 1px solid #FFFFFF;
        background: unset;

    }
    .header__soc .href__ic:hover i{
        background-color: #FFFFFF;
    }
    .header__soc  .foot-offer {
        color: #FFFFFF;
    }
    .header__soc .foot-offer i {
        background-color: #FFFFFF;
        font-size: 18px;
    }
    .header__soc .foot-offer .href__ic{
        border: 1px solid #FFFFFF;
        background-color: #161413;
    }
    .header__mail{
        font-family: 'Inter';
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 20px;
    }
}
